.playground {
  display: grid;
  grid-gap: 1em 2em;
  grid-template:
    "header header"
    "input  output"
    "menu   output"
    / auto 1fr;
}

.playground h2 {
  grid-area: header;
}

.playground label {
  font-size: 1.2em;
}

.playground .label {
  display: block;
}

.playground textarea {
  height: 10em;
  width: 45ch;
}

.playground > .output {
  grid-area: output;
}
