.playground {
  display: grid;
  grid-gap: 1em 2em;
  grid-template:
    "input  output"
    "menu   output"
    / auto 1fr;
}

.playground label {
  font-size: 1.2em;
}

.playground .label {
  display: block;
}

.playground textarea {
  height: 10em;
  width: 45ch;
}

.playground > .output {
  grid-area: output;
}

math-up[display="block"] {
  font-size: 1.5em;
}

math-up::part(math) {
  font-family: var(--math-font-family, math);
}
