.test-case {
  font-size: 1.25em;
  margin-block-end: 2em;
}

.test-case pre {
  background: #ffc;
  border: 1px dashed black;
  border-radius: 0.2em;
  max-width: calc(100% - 2em);
  overflow-x: auto;
  padding: 0.5ex 0.5em;
  width: max-content;
}

.test-case output::before {
  content: "⇒";
  font-size: 1.5em;
  margin-inline-end: 1em;
}
