/*
 * Font faces Linux Libertine
 * http://www.linuxlibertine.org/
 */

@font-face {
  font-family: "Libertinus";
  src: url(fonts/libertinus/LibertinusSerif-Regular.woff2);
}

@font-face {
  font-family: "Libertinus";
  font-weight: bold;
  src: url(fonts/libertinus/LibertinusSerif-Bold.woff2);
}

@font-face {
  font-family: "Libertinus";
  font-style: italic;
  src: url(fonts/libertinus/LibertinusSerif-Italic.woff2);
}

@font-face {
  font-family: "Libertinus";
  font-style: italic;
  font-weight: bold;
  src: url(fonts/libertinus/LibertinusSerif-BoldItalic.woff2);
}

@font-face {
  font-family: "Libertinus Keyboard";
  src: url(fonts/libertinus/LibertinusKeyboard-Regular.woff2);
}

@font-face {
  font-family: "Libertinus Mono";
  src: url(fonts/libertinus/LibertinusMono-Regular.woff2);
}

@font-face {
  font-family: "Libertinus Math";
  src: url(fonts/libertinus/LibertinusMath-Regular.woff2);
}

body {
  font-family: "Libertinus", "Linux Libertine", geogia, serifs;
  font-size: 20px;
}

kbd {
  font-family: "Libertinus Keyboard", "Linux Libertine Mono", monospace;
}

pre,
code,
use-example::part(code) {
  font-family: "Libertinus Mono", monospace;
  font-size: 0.9em;
}

math,
math-up::part(math),
use-example::part(math) {
  font-family: "Libertinus Math", "Asana Math", math;
}

code {
  background: #f0f0f0;
}

pre,
pre > code,
.examples code {
  background: #202016;
  color: #f0f0f0;
  text-align: left;
}

pre {
  border-radius: 5px;
  max-width: 80ex;
  margin: 1ex 2em;
  overflow-x: auto;
  padding: 1ex 2ex;
}

pre code .hl-built-in,
pre code .hl-literal {
  color: #f99b15;
}

pre code .hl-comment {
  color: #8d8687;
}

pre code .hl-keyword {
  color: #5bc4bf;
}

pre code .hl-string {
  color: #48b685;
}

pre code .hl-tag-name {
  color: #ef6155;
}

h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.05em;
}

body > h1 {
  text-align: center;
  font-size: 3em;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav > ul {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
}

.main-nav > ul > li {
  flex-grow: 1;
  flex-basis: 15ch;
  position: relative;
}

.main-nav > ul > li > a {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.main-nav > ul > li > ul {
  background: white;
  border-block-start: 1px solid white;
  border-block-end: 2px solid black;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}

.main-nav > ul > li:focus-within > ul,
.main-nav > ul > li:hover > ul {
  display: block;
}

.main-nav a {
  display: block;
  color: black;
  text-decoration: none;
}

.main-nav > ul > li > ul a {
  padding-inline: 1em;
}

.main-nav a:hover,
.main-nav a:focus,
.main-nav > ul > li:hover > a,
.main-nav > ul > li:focus-within > a {
  background: black;
  color: white;
}

.try {
  display: flex;
  font-size: 1.05em;
  margin: 2em 0;
  width: 100%;
}

.try > .input {
  flex: 0 1 40%;
  margin: 1ex;
}

.try > .input input,
.try > .input textarea {
  background: #dbbc66;
  border: 1px solid #202016;
  border-radius: 5px;
  color: #202016;
  font-family: "Linux Libertine Mono", monospace;
  font-size: 0.9em;
}

.try > .input textarea {
  display: block;
  margin: 1em auto;
  padding: 1.5em 1em;
  height: 3em;
  width: 80%;
}

.try > .input .options {
  margin-left: 2em;
}

.try > .input input + label::before {
  content: "";
  display: block;
}

.try > .input input {
  font-weight: bold;
  text-align: center;
  width: 1.5em;
}

.try > .input label {
  line-height: 1.5em;
}

.try > .output {
  border-left: 1px solid black;
  flex: 0 1 60%;
  padding-left: 1em;
}

.try > .output output {
  display: block;
  font-size: 1.6em;
}

.try .polyfill-container {
  font-size: 0.7em;
}

article {
  margin: 2em 1em;
}

article h2,
article h3 {
  text-align: center;
}

article p {
  line-height: 1.5em;
}

article section + section {
  margin-top: 2em;
}

#philosophy,
#use {
  max-width: 80ch;
  margin: 1em auto;
}

.reference-section {
  max-width: 160ch;
  margin: 1em auto;
}

.reference-section > section {
  justify-content: space-around;
  display: grid;
  grid-template-columns: minmax(0, 60ch) minmax(0, 1fr);
  grid-template-rows: repeat(10, auto);
}

.reference-section .examples {
  grid-column: 2;
  grid-row: 2 / -1;
}

.reference-section > section > :not(.examples) {
  grid-column: 1;
}

.reference-section dl {
  align-items: center;
  border-inline-start: 2px solid currentcolor;
  display: grid;
  grid-gap: 0.25ex 1em;
  grid-template-columns: fit-content(16ch) 1fr;
  margin-inline-start: 1em;
  padding-inline-start: 1ex;
}

.reference-section dl > dt {
  grid-column: 1;
  justify-self: end;
}

.reference-section dl > dd {
  grid-column: 2;
  margin: 0;
}

.examples ul {
  margin: 0 0 0 1.1em;
  padding: 0;
  list-style: none;
  text-align: center;
}

.examples li + li {
  margin-top: 2em;
}
